doctype 5
html
  head
    meta(charset="UTF-8")
    meta(name="Robots", content="index,follow")
    meta(name="author", content="Balazs Nadasdi")
  body
    h1= data._id
    p #{data.name}
    p #{$user.name}:#{$user.email}