doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="Robots", content="index,follow")
    meta(name="author", content="Balazs Nadasdi")
    block meta
      meta(name="description", content="Description")
      meta(name="keywords", content="key, words")
    title= title
  body
    block content